body{
background-color: #D4ECDD;
}
#menu{
    background-color: #92278E;
    border-radius: 10px;
}
#logo{
    width: 150px;
    height: 60px;
    margin-right: 200px;
}
img{
    border-radius: 20px;
}
span{
    color: white;
    font-size: 18px;
    font-weight: 900;
    margin-right: 50px;
    position: relative;
    bottom: 18px;
}
section{
    margin-left: 100px;
}
div{
    display: inline-block;
    margin-right: 100px;
    margin-top: 90px;
    border: 5px solid #FFB085 ;
    background-color: #FFB085;
    border-radius: 20px;
    height: 50%;
}
button{
    width: 110px;
   padding: 10px;
   background-color: #FF7600;
   border-radius: 10px;
   border: none;
   font-size: 15px;
   font-weight: bold;
   cursor: pointer;
}